server:
  port: 8080

python:
  base-url: ${PYTHON_API_BASE_URL:http://python-api:8000}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://db:5432/odds}
    username: ${SPRING_DATASOURCE_USERNAME:odds}
    password: ${SPRING_DATASOURCE_PASSWORD:odds}
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: never

  jackson:
    serialization:
      indent-output: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,mappings
  endpoint:
    health:
      show-details: always
