# Ignore Python bytecode files and virtual environment
__pycache__/
.vscode
.DS_Store
java-api/.gradle

# Ignore environment variables
.env

# Ignore SQLite database files
test.sqlite
*.sqlite-shm
*.sqlite-wal

# Ignore npm packages
node_modules/